.tree {
    list-style: none;
    padding: 7px 15px;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    background: var(--ifm-code-background);
    border-radius: var(--ifm-code-border-radius);
}

.tree__list {
    list-style: none;
}

.tree__item {
    font-family: var(--ifm-font-family-monospace);
    font-size: var(--ifm-code-font-size);
}

.tree__item--highlighted {
    box-shadow: 0px 0px 0px 2px var(--ra-color-caution);
    border-radius: 5px;
}

.highlighted {
    background-color: var(--ra-color-caution);
}
